@model IEnumerable<UsuarioModel>
@{
    ViewData["Title"] = "Usuários";
}

<h1>Todos os Usuários</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Sexo</td>
            <td>RG</td>
            <td>CPF</td>
            <td>NomeMae</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr onclick="window.location='/Usuario/editarview/@user.Id'">
               
                <td scope="col">@user.Id</td>
                <td scope="col">@user.Nome</td>
                <td scope="col">@user.Email</td>
                <td scope="col">@user.Sexo</td>
                <td scope="col">@user.RG</td>
                <td scope="col">@user.CPF</td>
                <td scope="col">@user.NomeMae</td>

                
            </tr>
        }
    </tbody>
</table>